body{
    background: whitesmoke;
}

h1{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: space-evenly;
}
.escolha {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
button {
    background: hsl(197deg 74% 50% / 67%);
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    width: 30%;
}
button:hover{
    border: 2px dashed blue;
}
button:active{
    background: rgb(21, 210, 235);
}
@media (min-width: 425px){
    button {
        height: 50px;
        width: 20%;
    }
}